@media only screen and (max-width: 600px){
    .container{
        padding: 15px;
        /* background-color: azure; */
        text-align: center;
        /* height: 100%; */
        
    }
    .techStack{
        margin-top: 3rem;
        
    }
        
    .skills{
        margin-top: 3rem;
        margin-bottom: 5.5rem;
        
        
    }
    h2 {
        font-weight: 600;
        margin-bottom: 2rem;
    }
    
}

@media only screen and (min-width: 601px){
    .container{
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        /* align-items: center; */
        /* padding: 2rem 5rem; */
    }
    .techStack, .skills{
        margin: 12rem 8rem;
    }
}


